@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 2000px;
    height: inherit;
    margin: auto;
}


/* navigation styling rules*/

nav {
    width: 100%;
    min-height: 153px;
    border: dashed 3px red;
}


/* main styling rules*/

main {
    min-height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
    background-image: url("../assets/RIA_FEATURE_79_B.jpg");
    background-position-x: center;
    background-size: cover;
    height: auto;
    padding: 100px 10%;
    width: 100%;
}

#message {
    text-align: left;
    color: white;
    margin-bottom: 1em;
    padding: 10px 10% 50px;
}

#message h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    color: #FFFFFF;
}

/* the board for the top selling items */

.top-sellers {
    display: grid;
    grid-template-columns: 33% 32% 32%;
    grid-gap: 35px;
}

.top-sellers > div{
    background-color: white;
    border-radius: 10px;
    height: auto;
    
}
/* elements within the items containers */

.ank {
    grid-area: ank;
    font-weight: 500;
    color: #333;
}


/* the image configurations */
.top-product {
    height: 200px;
    width: auto;
    grid-area: img;
}

.product_name {
    grid-area: name;
    text-align: center;
    margin: auto 5%;
}

.disc {
    grid-area: words;
    margin: auto;
}
/* the top 3 items */
#item1{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 'name name'
                         'words words'
                         'img img'
                         'img img' 
                         'price price'
                         'ank ank';
}
#item2{
    /*futhere adjustments to grid needed :: make placement allignment dynamic. */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 'name name'
                         'words words'
                         'img img'
                         'img img' 
                         'price price'
                         'ank ank';
}
#item3{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 'name name'
                         'words words'
                         'img img'
                         'img img' 
                         'price price'
                         'ank ank';
}
/* dynamic sceen  hero section */
@media screen and (min-width: 760px){
  
    #message {
        text-align: center;
        color: white;
        margin-bottom: 1em;
    }
    /* the board for the top selling items */


    .top-sellers > div{
        background-color: white;
        border-style: ridge white;
        border-radius: 10px;
        padding: 20px 50px;
    }
    /* elements within the items containers */

    .ank {
        grid-area: ank;
        margin: auto 5%
    }

    /* the image configurations */
    .top-product {
        height: 200px;
        width: auto;
        grid-area: img;
    }

    .product_name {
        grid-area: name;
        text-align: center;
        margin: auto 5%;
    }

    .disc {
        grid-area: words;
        margin: auto;
    }
    /* the top 3 items */
    #item1{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'name name'
                            'img words'
                            'img price' 
                            'img ank';
    }
    #item2{
        /*futhere adjustments to grid needed :: make placement allignment dynamic. */
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'name name'
                            'img words' 
                            'img price'
                            'img ank';
    }
    #item3{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'name name'
                            'img words'
                            'img price' 
                            'img ank';
    }
}

.product-section {
    min-height: 100vh;
    width: 100%;
    padding: 40px 10px 100px;
    display: flex;
    flex-direction: column;
}

.section-header {
    font-size: 3em;
    font-weight: 500;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

.product-rows {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: baseline;
}


.product-contain {
    width: 100%;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-type-label {
    font-size: 2.5em;
    font-weight: 400;
    color: #FFFFFF;
}

.product-type-btn {
    color: #FFFFFF;
    border: #FFFFFF solid 3px;
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1.3em;
    font-weight: 500;
}


.product-type-btn:hover {
    color: #333;
    background-color: #FFFFFF;
    transition: .25s;
}

.product {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 388px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 2px 9px 1px rgba(148,148,148,.5);
    -moz-box-shadow: 0px 2px 9px 1px rgba(148,148,148,.5);
    box-shadow: 0px 2px 9px 1px rgba(148,148,148,.5);
}

.product p {
    font-size: 1.1em;
    font-weight: 300;
    color: #333;
}

.product a {
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
}

.product-more-info {
    height: 450px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.p_row_dark .product-more-info {
    -webkit-clip-path: polygon(25px 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0% 100%);
    margin-left: 1%;
}

.p_row_light .product-more-info {
    -webkit-clip-path: polygon(0 0, 310px 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 310px 0, 100% 100%, 0% 100%);
    margin-right: 1%;
}

.product-section .color-1 {
    background-color: #0096B2;
}

.product-section .color-2 {
    background-color: #006BBA;
}

.product-section .color-3 {
    background-color: #007C69;
}

.product-section .color-4 {
    background-color: #1EA1BA;
}

.p_row_light {
    background-color: #FFFFFF;
    flex-direction: row-reverse;
}

.p_row_dark {
    background-color: #F8F8F8;
}

.product-img {
    height: 150px;
    margin: 20px 0;
    width: auto;
    margin: auto;
}
/* Slider Rules */

.slider_container {
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* border: solid 5px #000; */
    left: 50px;
}

.prod-page {
    margin: auto;
    width: 100%;

}

.items {
    padding: 0 90px;
}

.slider_container .product {
    height: 388px;
    width: 400px;
}


.slider_container .product{
    margin: 25px 20px;
}

.slick-initialized .slick-slide {
    display: flex;
}

.product-price {
    grid-area: price;
    font-weight: 600;
    font-size: 2.5em;
    color: #1EA1BA;
}




@media screen and (max-width: 2025px){
    .product-contain {
        margin: 0 15px;
    }
}

/* footer styling rules */
footer {
    background-color: #223643;
    height: auto;
    width: 100%;
    padding: 100px;
}

footer a,
footer p,
footer span {
    color: #FFFF;
    text-decoration: none;
    line-height: 1.8em;
    font-weight: 100;
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    max-width: 750px;
    height: auto;
    margin: auto;
    flex-flow: wrap;
}

.footer-header {
    font-size: 1.5em;
}

.footer-logo {
    width: 10em;
}