/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 2130px;
    height: inherit;
    margin: auto;
}


/* the main containner for div message & top sellers */

.billboard {
    display: grid;
    border: 10px solid green;
    grid-row-gap: 10px;
    grid-template: 30px;
}

.message {
    text-align: center;
}


/* the board for the top selling items */

.top-sellers {
    grid-row-start: 3;
    grid-row-end: 6;
    display: grid;
}

.top-sellers>div {
    text-align: right;
    grid-row: center;
}


/* the top 3 items 

.items {
    background-color: purple;
}

*/

#item1 {
    display: grid;
    grid-template-areas: 'name name name name name' 'img img img words words' 'img img img words words' 'img img img myAnk myAnk';
    grid-column-start: 1;
    grid-column-end: 2;
}

#item2 {
    display: grid;
    grid-template-areas: 'name name name name name' 'img img img words words' 'img img img words words' 'img img img myAnk myAnk';
    grid-column-start: 2;
    grid-column-end: 3;
}

#item3 {
    display: grid;
    grid-template-areas: 'name name name name name' 'img img img words words' 'img img img words words' 'img img img myAnk myAnk';
    grid-column-start: 3;
    grid-column-end: 4;
}


/* elements within the items containers */


/* the anchor tag styles for the items container */

.ank {
    grid-area: "myAnk myAnk";
}


/* the img tag styles for the items container */

.bImg {
    grid-area: "img";
}


/* the h3 tag styles for the items container */

.iName {
    grid-area: "name";
}


/* the p tag styles for the item container */

.disc {
    grid-area: "words";
}


/* navigation styling rules*/

nav {
    width: 100%;
    min-height: 153px;
    border: dashed 3px red;
}


/* main styling rules*/

main {
    min-height: 100vh;
    width: 100%;
    border: dashed 3px rgb(17, 0, 255);
}

.hero-section {
    background-image: url(/assets/RIA_FEATURE_79_B.jpg);
    background-size: cover;
    height: 764px;
    width: 100%;
    background-color: #3ab0ff;
}

.product-section {
    min-height: 100vh;
    width: 100%;
    padding: 100px 20px;
    background-color: aquamarine;
}


/* footer styling rules */

footer {
    background-color: #223643;
    width: 100%;
    padding: 100px;
}